body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1024px;
    /*border: 1px solid grey;*/
    margin: 0 auto;
}

h1 {
    margin: 0 auto 0;
    text-align: center;
    padding: 20px 0 0; /* not margin, but padding */
}

.content {
}

table {
    border-collapse: collapse;
    margin: 20px auto 0; /* not padding, but margin */
    width: 100%;
    padding-top: 20px; /* no effect -- due to border-collapse? */
}

td, th {
    border: 1px solid #999;
    padding: 10px;
}

.form {
    margin: 20px auto 0;
    width: 100%;
    box-sizing: border-box; /* */
    display: inline-block; /* */
}

.input {
    width: 90%;
    height: 40px;
    float: left;
    box-sizing: border-box;
}

.button {
    width: 10%;
    height: 40px;
    float: left;
    box-sizing: border-box;
}